<h1>The best blog post ever.</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mauris augue neque gravida in fermentum et sollicitudin ac orci. Ut sem nulla pharetra diam sit amet nisl. Lobortis mattis aliquam faucibus purus in massa tempor. Urna porttitor rhoncus dolor purus non enim praesent. Amet cursus sit amet dictum sit. Augue ut lectus arcu bibendum at varius vel pharetra vel. Urna nunc id cursus metus aliquam eleifend mi in. Orci phasellus egestas tellus rutrum. Vivamus at augue eget arcu dictum varius duis. Auctor augue mauris augue neque. At volutpat diam ut venenatis tellus in metus. In ante metus dictum at tempor commodo ullamcorper. Neque egestas congue quisque egestas diam in arcu cursus euismod. Duis tristique sollicitudin nibh sit amet. Scelerisque eleifend donec pretium vulputate sapien nec sagittis aliquam malesuada. Tempor id eu nisl nunc mi ipsum faucibus vitae. Semper eget duis at tellus at urna condimentum mattis.</p>

<p>Odio eu feugiat pretium nibh. Vehicula ipsum a arcu cursus. Morbi blandit cursus risus at. Suspendisse faucibus interdum posuere lorem ipsum dolor sit. Leo urna molestie at elementum eu facilisis. Nunc consequat interdum varius sit amet mattis. Ultrices gravida dictum fusce ut placerat orci nulla pellentesque dignissim. Sapien et ligula ullamcorper malesuada proin libero. Posuere ac ut consequat semper viverra nam libero. Fermentum leo vel orci porta non pulvinar neque laoreet suspendisse. Nibh cras pulvinar mattis nunc sed blandit libero. Faucibus scelerisque eleifend donec pretium. Ullamcorper a lacus vestibulum sed arcu non odio euismod lacinia. Leo in vitae turpis massa sed elementum tempus egestas. Quam nulla porttitor massa id neque aliquam vestibulum. Sollicitudin aliquam ultrices sagittis orci a scelerisque. A scelerisque purus semper eget. Aliquam malesuada bibendum arcu vitae. Ut tortor pretium viverra suspendisse potenti nullam.</p>

<p>Interdum velit laoreet id donec ultrices tincidunt arcu non sodales. Nisl purus in mollis nunc. Ipsum dolor sit amet consectetur. Integer enim neque volutpat ac tincidunt vitae. Velit scelerisque in dictum non consectetur a. Semper viverra nam libero justo laoreet sit amet cursus. Lobortis feugiat vivamus at augue eget. Tincidunt ornare massa eget egestas purus viverra accumsan. Porttitor rhoncus dolor purus non enim praesent elementum facilisis. Massa tincidunt nunc pulvinar sapien et ligula. Porta nibh venenatis cras sed. Risus sed vulputate odio ut enim. Morbi non arcu risus quis varius.</p>

<p>Tempus urna et pharetra pharetra massa massa ultricies. Suspendisse potenti nullam ac tortor vitae. Ut enim blandit volutpat maecenas volutpat blandit aliquam etiam erat. Interdum posuere lorem ipsum dolor. Amet cursus sit amet dictum sit amet. Lobortis scelerisque fermentum dui faucibus. Volutpat sed cras ornare arcu dui vivamus arcu. Amet venenatis urna cursus eget nunc. Enim ut sem viverra aliquet. Ultrices in iaculis nunc sed augue lacus viverra vitae. Facilisi cras fermentum odio eu.</p>

<p>Rhoncus aenean vel elit scelerisque mauris pellentesque. Ullamcorper velit sed ullamcorper morbi tincidunt ornare. Neque laoreet suspendisse interdum consectetur libero id faucibus. Suspendisse in est ante in nibh mauris cursus mattis. Lobortis elementum nibh tellus molestie nunc. Id porta nibh venenatis cras. Orci porta non pulvinar neque laoreet suspendisse interdum. Gravida arcu ac tortor dignissim convallis aenean et tortor. Quis blandit turpis cursus in. Adipiscing elit ut aliquam purus sit. Turpis egestas pretium aenean pharetra magna ac placerat vestibulum lectus. Ultrices gravida dictum fusce ut placerat. Augue neque gravida in fermentum. Amet porttitor eget dolor morbi non arcu. Eget nullam non nisi est sit amet. Turpis massa sed elementum tempus egestas.</p>
<hr>


<h2 class="bold">Discussion</h2>
<div class="flex-container w-100">
    <div style="flex: none;">
        <a href="#">
            <img src="images/user-1.jpeg" height="36px" width="36px" class="avatar" />
        </a>
    </div>
    <form id="comment-form">
        <div style="flex-grow: 8;">
            <input class="w-100 grow primary" placeholder="What are your thoughts?" />
        </div>
        <div style="flex: none;">
            <button type="submit" class="primary">Comment</button>
        </div>
    </form>
    
</div>
<hr>


